################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Övningsuppgift Null-säker utskrift/Övningsuppgift Null-säker utskrift/Null antekningar.docx
/Övningsuppgift Null-säker utskrift/Null-säker utskrift/Null-säker utskrift/obj
/Övningsuppgift Null-säker utskrift/Null-säker utskrift/Null-säker utskrift/bin/Debug/net8.0
/Övningsuppgift Null-säker utskrift/Null-säker utskrift/.vs/Null-säker utskrift/v17
/Övningsuppgift Null-säker utskrift/Null-säker utskrift/.vs/Null-säker utskrift
/Övningsuppgift Ankregister/Övningsuppgift Ankregister/Övningsuppgift Ankregister/obj
/Övningsuppgift Null-säker utskrift/Null-säker utskrift/.vs/ProjectEvaluation
/Övningsuppgift Ankregister/Övningsuppgift Ankregister/.vs/Övningsuppgift Ankregister
/Övningsuppgift Null-säker utskrift
/Övningsuppgift Ankregister/Övningsuppgift Ankregister
/Enum övning veckodagar/.vs/Enum övning veckodagar
/Enum övning veckodagar/Enum övning veckodagar/bin/Debug/net8.0
/Enum övning veckodagar/Enum övning veckodagar/obj
/Enum övning veckodagar
/Enum  HttpStatusCode/.vs/Enum  HttpStatusCode
/Enum  HttpStatusCode/Enum  HttpStatusCode/obj
/Enum  HttpStatusCode/Enum  HttpStatusCode/bin/Debug/net8.0
