################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Övningsuppgift Null-säker utskrift/Övningsuppgift Null-säker utskrift/Null antekningar.docx
/Övningsuppgift Null-säker utskrift/Null-säker utskrift/Null-säker utskrift/obj
/Övningsuppgift Null-säker utskrift/Null-säker utskrift/Null-säker utskrift/bin/Debug/net8.0
/Övningsuppgift Null-säker utskrift/Null-säker utskrift/.vs/Null-säker utskrift/v17
/Övningsuppgift Null-säker utskrift/Null-säker utskrift/.vs/Null-säker utskrift
